.body {
  font-size: 16px;
}

/* About Section */
.about-us_container {
  padding: 10px;
  margin: 20px;
}

.about-us_container h1 {
  font-weight: 500;
  font-size: 2.5em;
  color: #333333e1;
  text-align: center;
  margin-top: 75px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px;

  /* Media Queries */
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.about-img img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 25px #34495ed3;
}

.about-txt {
  width: 100%;

  @media (min-width: 1200px) {
    font-size: 1.5em;
  }
}

.about-txt p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 0.8em;
  color: #555;
  

  @media (min-width: 1200px) {
    width: 100%;
    margin-left: 20px;
  }
}

.about-txt h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  padding: 5px;
  color: #333;
  

  @media (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

/* Team Section */
.team {
  padding: 10px;
  text-align: center; /* Center the text */
}

.team h1 {
  font-weight: 500;
  font-size: 2.3em;
  color: #333333e1;
  text-align: center;
}

.team h4 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-items: center;
  padding: 10px;
  font-weight: 400;
  font-size: 1.2em;
  color: #242424;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
}

.card {
  margin: 10px;
  padding: 10px;
  flex: 1;
  max-width: calc(50% - 20px);
  box-sizing: border-box;
  border-radius: 15px;
  transition: transform 0.8s ease-in-out, box-shadow 0.3s ease;
  box-shadow: 0 4px 15px #34495e91;
}

.card h2{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-items: center;
  font-weight: 700;
  font-size: 1.2em;
  color: #333;
}
.card p{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  font-size: 0.9em;
  padding: 10px;
  color: #555;
}

.card img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.card:hover {
  animation: shake 1.4s ease-in-out infinite;
  box-shadow: 0 8px 16px rgba(15, 15, 15, 0.2);
}

/* Keyframes for shake animation */
@keyframes shake {
  0%, 50% {
    transform: translate(0, 0);
  }
  25%, 75% {
    transform: translate(-4px, 4px);
  }
  50% {
    transform: translate(4px, -4px);
  }
}

/* Responsive design for cards */
@media screen and (max-width: 768px) {
  .card {
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .card {
    max-width: calc(100% - 20px);
  }
}

/* Other Sections */
.about {
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container div {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.199);
  
}

.container h1 {
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
}

.container p {
  font-family: "Quicksand", sans-serif;
 margin: 30px;
  font-size: 0.9em;
  text-align:center;
  font-weight: 500;
  color: #333;

}

.line {
  margin-top: 20px;
  height: 2px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #ff8686;
  border-radius: 8rem;
}

/* Core Values Section */
.core-values-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.core-values-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.core-values-row div {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.core-values-row h1 {
  color: #007bff;
  font-size: 1.2rem;
}

.core-values-row p {
  color: #333;
  font-size: 0.8rem;
}

/* Responsive design for Core Values Section */
@media screen and (max-width: 1200px) {
  .about-txt h2 {
    font-size: 1.5rem;
}



}

@media screen and (max-width: 768px) {
  .about-txt h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    padding: 5px;
    color: #333;
}
.card h2 {
  font-weight: 700;
  font-size: 0.7em;
}
.card p {
  font-size: 0.6em;
  color: #555;
}
.container h1 {
  font-size: 1.3em;
}
.container p {
  font-size: 0.8em;
  text-align: center;
  font-weight: 300;
}

}



@media screen and (max-width: 600px) {
  .about-txt h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    padding: 5px;
    color: #333;
}
.about-txt p {
  text-align: center;
  font-weight: 300;
  width: 100%;
  font-size: 1.1em;
}
.team h1 {
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
}
.team h4 {
  padding: 10px;
  font-weight: 300;
  font-size: 1.1em;
  color: #555;
}
.card h2 {
  font-size: 1.2em;
}
.card p {
  font-size: 1em;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.container h1 {
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
}
.container div {
  flex-grow: 1;
  flex-shrink: 1;
  
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}